@use './variables.scss' as *;

$code-hierarchy-item-vline-left-halfwidth: 0.5px;

$code-hierarchy-item-vline-split-height: 0.7em;

$code-hierarchy-item-vline-thin-height: 1.2em;
$code-hierarchy-item-vline-split-height-thin: 0.5em;

$code-hierarchy-item-vline-left-margin: 10pt;

$code-hierarchy-item-primparent-code-name-left-margin: 15pt;
$code-hierarchy-item-primparent-relation-detail-left-margin: 10pt;
$code-hierarchy-item-primparent-sectiontitle-left-margin: 10pt;

$code-hierarchy-item-primparent-parentchild-additional-left-margin: 20pt;
$code-hierarchy-item-primparent-parentchild-notch-size: 10pt;


.code-hierarchy-items {

    //border: 1px solid red;
    box-sizing: border-box;

    //
    // code hierarchy diagram
    //
    .code-hierarchy-item {
    }

    .code-hierarchy-item-row {
        box-sizing: border-box;
        width: 100%;
        padding-left: $code-hierarchy-item-vline-left-margin;
        display: grid;
        grid-template-rows:
          [padding1] 0fr
          [b1 contentstart] $code-hierarchy-item-vline-split-height
          [b2 contentend] 1fr
          [padding2] 0fr;
        grid-template-columns: [sym] 0pt [b1] 0pt [b2] 0pt [notch] 0fr [content] 1fr;

        > .code-hierarchy-item-content {
            grid-column: content / span 1;
            grid-row: contentstart / span 2;
        }

        > .code-hierarchy-item-leftdecoration-symbol {
            display: inline-block;
            box-sizing: border-box;
            margin-left: 0pt;
            max-width: 0pt;
            grid-row: b1 / span 2;
            grid-column: sym / span 1;
            &::before {
                content: ' ';
                margin-top: -3pt;
                color: $text-dim-color;

                //background-color: rgba(0,0,255,0.3);
                text-align: center;
                display: inline-block;
                width: 20pt;
                max-width: 20pt;
                margin: 0pt -10pt;
                max-height: 1pt;
            }
            z-index: 9;
        }

        > .code-hierarchy-item-leftdecoration-b1 {
            max-width: 2*$code-hierarchy-item-vline-left-halfwidth;
            min-width: 2*$code-hierarchy-item-vline-left-halfwidth;
            margin-left: -$code-hierarchy-item-vline-left-halfwidth;
            margin-right: -$code-hierarchy-item-vline-left-halfwidth;
            box-sizing: border-box;
            grid-row: padding1 / span 2;
            grid-column: b1 / span 1;

            z-index: 9;
            background-color: $text-dim-color;
        }
        > .code-hierarchy-item-leftdecoration-b2 {
            max-width: 2*$code-hierarchy-item-vline-left-halfwidth;
            min-width: 2*$code-hierarchy-item-vline-left-halfwidth;
            margin-left: -$code-hierarchy-item-vline-left-halfwidth;
            margin-right: -$code-hierarchy-item-vline-left-halfwidth;
            box-sizing: border-box;
            grid-row: b2 / span 2;
            grid-column: b2 / span 1;

            z-index: 9;
            background-color: $text-dim-color;
        }

        &::before {
            content: ' ';
            display: inline-block;
            grid-row: padding1 / span 1;
            grid-column: 1 / span 1;
            max-width: 1px;
            height: 0px;
        }
        &::after {
            content: ' ';
            display: inline-block;
            grid-row: padding2 / span 1;
            grid-column: 1 / span 1;
            max-width: 1px;
            height: 0px;
        }

        &.code-hierarchy-item-row-thin {
            .code-hierarchy-item-leftdecoration-symbol {
                max-height: $code-hierarchy-item-vline-thin-height;
            }
            grid-template-rows:
              [padding1] 0pt
              [b1 contentstart] $code-hierarchy-item-vline-split-height-thin
              [b2 contentend] 1fr
              [padding2] 0pt;
        }

    }
    .code-hierarchy-item:first-child > .code-hierarchy-item-row:first-child > .code-hierarchy-item-leftdecoration-b1 {
        visibility: hidden;
    }
    .code-hierarchy-item:last-child {
        > .code-hierarchy-item-row.code-hierarchy-item-relation-detail > .code-hierarchy-item-leftdecoration-symbol::before {
            content: '';
        }
        > .code-hierarchy-item-row > .code-hierarchy-item-leftdecoration-b1,
        > .code-hierarchy-item-row > .code-hierarchy-item-leftdecoration-b2 {
            visibility: hidden;
        }
        > .code-hierarchy-item-row:first-child > .code-hierarchy-item-leftdecoration-b1 {
            visibility: visible;
        }
    }

    //
    // now, the settings for each row "role":
    //

    .code-hierarchy-item-row.code-hierarchy-item-name {
        > .code-hierarchy-item-leftdecoration-symbol::before {
            content: '●';
            margin-top: 0pt;
        }
        > .code-hierarchy-item-content {
            padding-left: $code-hierarchy-item-primparent-code-name-left-margin;
        }
    }
    .code-hierarchy-item-row.code-hierarchy-item-relation-detail {
        &::before {
            height: 0.5em;
        }
        &::after {
            height: 1em;
        }
        > .code-hierarchy-item-leftdecoration-symbol::before {
            content: '▴';
        }
        &.code-hierarchy-item-row-thin {
            > .code-hierarchy-item-leftdecoration-symbol {
                margin-top: 0em;
            }
            &::before {
                height: 0pt;
            }
        }
        > .code-hierarchy-item-content {
            font-size: $small-font-size;
            font-style: italic;
            padding-left: $code-hierarchy-item-primparent-relation-detail-left-margin;
        }
    }
    .code-hierarchy-item.code-hierarchy-item-section > .code-hierarchy-item-row {
        &::before {
            height: 1em;
        }
        &::after {
            height: .25em;
        }
        > .code-hierarchy-item-content {
            padding-left: $code-hierarchy-item-primparent-sectiontitle-left-margin;
            font-size: 0.8em;
            font-weight: light;
            color: $text-dim-color;
            letter-spacing: .3pt;
            text-transform: uppercase;
        }
    }

    .code-hierarchy-item.code-hierarchy-item-domain {
        > .code-hierarchy-item-row:last-child {
            &::after {
                height: .25em;
            }
        }
        .code-hierarchy-item-name .code-hierarchy-item-content {
            background-color: $ecc-page-domain-background-color;
        }
    }
    .code-hierarchy-item.code-hierarchy-item-kingdom {
        > .code-hierarchy-item-row:first-child {
            &::before {
                height: .25em;
            }
        }
        > .code-hierarchy-item-row:last-child {
            &::after {
                height: .25em;
            }
        }
        .code-hierarchy-item-name .code-hierarchy-item-content {
            background-color: $ecc-page-kingdom-background-color;
        }
    }

    .code-hierarchy-item-inner-ancestors, 
    .code-hierarchy-item-inner-descendants {
        display: inline;
        font-style: italic;
        font-size: $small-font-size;
        margin-left: 0pt;

        &::before {
            display: inline-block;
            margin-left: .5em;
            margin-right: .5em;
        }

        .code-hierarchy-item-inner-ancestor,
        .code-hierarchy-item-inner-descendant {
            display: inline-block;
            border: solid .4pt;
            border-radius: 4pt;
            padding: 0pt 2pt;
            &::before { content: '#'; }
        }
    }
    .code-hierarchy-item-inner-ancestors::before { content: '←'; }
    .code-hierarchy-item-inner-descendants::before { content: '→'; }


    //
    // The code itself that we're investigating (the page is this code's page)
    //

    .code-hierarchy-item-self > .code-hierarchy-item-row {
        &::before {
            height: 1.2em;
        }
        &::after {
            height: 1.0em;
        }
        > .code-hierarchy-item-content {
            font-weight: bold;
        }
    }


    //
    // Stuff for immediate parents and children.
    //

    .code-hierarchy-item-section-parents {
        .code-hierarchy-item-leftdecoration-b1, .code-hierarchy-item-leftdecoration-b2 {
            visibility: hidden;
        }

        & + .code-hierarchy-item.code-hierarchy-item-parent {
            .code-hierarchy-item-name {
                > .code-hierarchy-item-leftdecoration-b1 { visibility: hidden; }
            }
        }
    }

    .code-hierarchy-item.code-hierarchy-item-child, .code-hierarchy-item.code-hierarchy-item-parent {
        .code-hierarchy-item-row {
            >.code-hierarchy-item-leftdecoration-notch {
                grid-column: notch / span 1;
                grid-row: b1 / span 1;
                width: $code-hierarchy-item-primparent-parentchild-notch-size;
            }
        }
        .code-hierarchy-item-name {
            > .code-hierarchy-item-leftdecoration-symbol::before { visibility: hidden; }
            > .code-hierarchy-item-leftdecoration-notch {
                border-bottom: solid (2*$code-hierarchy-item-vline-left-halfwidth) $text-dim-color;
            }
        }
        .code-hierarchy-item-row.code-hierarchy-item-relation-detail {
            > .code-hierarchy-item-leftdecoration-symbol::before { visibility: hidden; }
        }
    }


    //     margin-left: 10pt;

    //     border-left: solid 1pt $text-dim-color;

    //     padding-left: 15pt;
    //     > div { margin-left: -15pt; }

    //     &.code-hierarchy-item-self {
    //         padding-top: .5em;
    //         padding-bottom: .5em;
    //         font-weight: bold;
    //     }
    //     > .code-hierarchy-item-name {

    //         &::before {
    //             content: '●';
    //             color: $text-dim-color;
    //             text-align: center;
    //             width: 10pt;
    //             margin-left: -20.5pt;
    //             margin-right: 10pt;
    //             display: inline-block;
    //         }
            
    //         padding-left: 15pt;
    //         display: inline-block;
    //         box-sizing: border-box;
    //     }

    //     &.code-hierarchy-item-domain .code-hierarchy-item-name {
    //         width: 100%;
    //         background-color: $ecc-page-domain-background-color;
    //     }
    //     &.code-hierarchy-item-kingdom .code-hierarchy-item-name {
    //         width: 100%;
    //         background-color: $ecc-page-kingdom-background-color;
    //     }

    //     .code-hierarchy-item-inner-ancestors {
    //         display: inline;
    //         font-style: italic;
    //         font-size: $small-font-size;
    //         margin-left: 0pt;

    //         &::before {
    //             content: '←';
    //             display: inline-block;
    //             margin-left: .5em;
    //             margin-right: .5em;
    //         }

    //         .code-hierarchy-item-inner-ancestor {
    //             display: inline-block;
    //             border: solid .4pt;
    //             border-radius: 4pt;
    //             padding: 0pt 2pt;
    //             &::before { content: '#'; }

    //             &.code-hierarchy-item-is-duplicate {
    //                 text-decoration: rgb(220, 30, 128) wavy underline;
    //                 //background-color: rgb(220, 30, 128);
    //                 //color: #fff;
    //             }
    //         }
    //     }

    //     > .code-hierarchy-item-relation-detail {
    //         padding-top: .75em;
    //         padding-bottom: .75em;
    //         &:empty {
    //             padding-top: 0px;
    //             padding-bottom: 0px;
    //         }

    //         &::before {
    //             content: '▴';
    //             font-style: normal;
    //             font-weight: normal;
    //             color: $text-dim-color;
    //             text-align: center;
    //             width: 10pt;
    //             margin-left: -15.5pt;
    //             margin-right: 5pt;
    //             display: inline-block;
    //         }
    //         padding-left: 10pt;
    //         display: inline-block;
    //         width: 100%;
    //         box-sizing: border-box;
    //     }

    //     .code-hierarchy-item-relation-detail {
    //         font-size: $small-font-size;
    //         font-style: italic;
    //     }


    //     &.code-hierarchy-inner-secondary-parents {
    //         padding-left: 25pt;
    //         padding-top: .75em;
    //         padding-bottom: .75em;

    //         &::before {
    //             content: '↗';
    //             width: 15pt;
    //             vertical-align: -3pt;
    //             display: inline-block;
    //             margin-left: -15pt;
    //         }
    //     }

    //     &.code-hierarchy-item-secondary-parents,
    //     &.code-hierarchy-item-children {
    //         padding-left: 25pt;
    //         padding-top: .75em;
    //         padding-bottom: .75em;

    //         &::before {
    //             // 'SECONDARY PARENTS' / 'CHILDREN' label
    //             margin-left: -15pt;
    //             font-size: 0.8em;
    //             font-weight: light;
    //             color: $text-dim-color;
    //             letter-spacing: .3pt;
    //             margin-bottom: .5em;
    //             display: block;
    //         }

    //         .code-hierarchy-item-child,
    //         .code-hierarchy-item-secondary-parent {

    //             display: block;
    //             margin-left: 0pt;
    //             padding-bottom: 0.5em;
    //             &:last-child { padding-bottom: 0px; }

    //             &::before {
    //                 content: ''; //content: '↗'; // set below
    //                 display: inline-block;
    //                 margin-left: -25pt;
    //                 width: 18pt;
    //                 margin-right: 7pt;
    //                 border-top: solid 1px $text-dim-color;
    //                 vertical-align: 1.8pt;
    //             }

    //             .code-hierarchy-item-name {
    //                 display: inline-block;
    //                 &::after { content: ' '; }
    //             }
    //             .code-hierarchy-item-relation-detail {
    //                 padding-top: 0.5em;
    //                 display: block;
    //             }
    //         }
    //     }
    //     &.code-hierarchy-item-secondary-parents::before {
    //         content: 'SECONDARY PARENTS';
    //     }
    //     &.code-hierarchy-item-children::before {
    //         content: 'CHILDREN';
    //     }
    //     // .code-hierarchy-item-child::before {
    //     //     content: '↘';
    //     //     vertical-align: 1pt;
    //     // }
    //     // .code-hierarchy-item-secondary-parent::before {
    //     //     content: '↗';
    //     //     vertical-align: -3pt;
    //     // }
    // }
}