@use './variables.scss' as *;

////////////////////////////////////////////////////////////////////////////////
//
// code collections "card" items
//
////////////////////////////////////////////////////////////////////////////////

@mixin card-item {
    margin: 1rem 0px 1rem;
    padding: 10px;
    border: solid 1px $discreet-border-color;
}
