@use './variables.scss' as *;

.boxedcontent {
    
    background-color: $boxedcontent-background-color;
    padding: .5em;

    border: solid .4pt var(--boxedcontent-border-color);

    border-radius: 3px;

    user-select: contain;
}

@mixin mixin-boxedcontent-pre {
    font-family: monospace;
    font-size: 12px;
    white-space: pre-wrap;
    line-height: 17px;
}