
article.ecc-code-page {

    // LAYOUT - CSS GRID

    display: grid;
    //grid-template-columns: 1fr auto;
    //grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns:
        [code-main-sections] minmax(500px, 625px)
        [code-infobox-buttons code-hierarchy-sections] minmax(250px, ($page-max-main-width - 625px - 40px))
        auto;
    grid-gap: 15px;
    grid-auto-flow: row dense;
    justify-items: left;

    //columns: 450px auto;

    >.sectioncontent {
        grid-column: code-main-sections / span 1; //2;
    }
    >.sectioncontent.info-popup-button-container {
        grid-column: code-infobox-buttons / span 1
    }
    >.sectioncontent.code-hierarchy,
    >.sectioncontent.code-parents,
    >.sectioncontent.code-parent_of,
    >.sectioncontent.code-cousins {
        grid-column: code-hierarchy-sections / span 2;
    }
    // >.sectioncontent.code-description,
    // >.sectioncontent.code-protection,
    // >.sectioncontent.code-notes {
    //     grid-column: code-main-sections / span 2;
    // }


    h2 {
        margin: 0px; // reset margin; margin will be set below
    }

    > .sectioncontent {
        margin-left: 0px;

        width: 100%;
        box-sizing: border-box;
    }
    
    h2 {
        padding: 0px;
        margin-top: 0.5rem;
        margin-bottom: .8rem;
    }
    > .sectioncontent {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: .8rem;
    }

    // always hide label "Name:", even on wide screens
    > h2.code-name {
        display: none;
    }

    .code-alternative-names {
        font-style: normal; //italic;
        .code-alternative-name {
            font-style: italic; //normal;
        }
    }

    > .code-root-code-kingdom-name,
    > .code-root-code-domain-name {
        font-size: 1rem;
        padding: 4px;
        border-radius: 2px;

        .kingdom-name-label, .domain-name-label {
            font-weight: normal;
        }

        font-weight: bold;
    }
    > .code-root-code-domain-name {
        background-color: $ecc-page-domain-background-color;
    }
    > .code-root-code-kingdom-name {
        background-color: $ecc-page-kingdom-background-color;
    }

    @media screen {
        >.sectioncontent.info-popup-button-container {
            margin-top: 0px;
        }
    }

    @media screen {
        .display-print-citation {
            display: none !important;
        }
    }

    // style appearance:

    h2 {
        font-size: 1.1rem;
        font-style: normal;
        font-weight: normal;
        line-height: 1.3em;
        color: $inner-heading-color;
        //font-weight: 300;
        border-bottom: solid 1px $inner-heading-color-rule;
    }

    .na {
        font-style: italic;
        color: $text-dim-color;
    }

    h1.code-name {
        margin: 0px 10px 0px 0px;
        display: inline-block;

        .code-introduced {
            // make citation not too large
            font-size: 1.5rem;
            font-weight: normal;
        }
    }

    .code-relations-list {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    span.code-introduced {
        display: inline-block;
        margin-left: 0.3em;
    }

    .code-is-stub {
        // the given colors (incl. transparency) work both in light & dark mode
        border: solid 0.5pt rgb(120, 120, 120);
        border-radius: 5px;
        background-color: rgba(120, 120, 120, 0.1);
        padding: 15px 25px;
        font-style: italic;
        opacity: .7;
    }

    // code hierarchy
    .code-hierarchy-item {
        border-left: solid 0.4pt gray;
        margin-left: 10pt;

        &.code-hierarchy-item-self {
            font-weight: bold;
        }
        > .code-hierarchy-item-name {

            &::before {
                content: '●';
                color: gray;
                text-align: center;
                width: 10pt;
                margin-left: -20pt;
                margin-right: 10pt;
                display: inline-block;
            }
            
            padding-left: 15pt;
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
        }
        > .code-hierarchy-item-relation-detail {
            padding-top: .75em;
            padding-bottom: .75em;
            &:empty {
                padding-top: 0px;
                padding-bottom: 0px;
            }

            &::before {
                content: '▴';
                font-style: normal;
                font-weight: normal;
                color: gray;
                text-align: center;
                width: 10pt;
                margin-left: -15pt;
                margin-right: 5pt;
                display: inline-block;
            }
            padding-left: 10pt;
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
        }

        .code-hierarchy-item-relation-detail {
            font-size: 0.9em;
            font-style: italic;
        }

        &.code-hierarchy-item-domain .code-hierarchy-item-name {
            background-color: $ecc-page-domain-background-color;
        }
        &.code-hierarchy-item-kingdom .code-hierarchy-item-name {
            background-color: $ecc-page-kingdom-background-color;
        }


        &.code-hierarchy-inner-secondary-parents {
            padding-left: 25pt;
            padding-top: .75em;
            padding-bottom: .75em;

            &::before {
                content: '↗';
                width: 15pt;
                vertical-align: -3pt;
                display: inline-block;
                margin-left: -15pt;
            }
        }

        &.code-hierarchy-item-secondary-parents,
        &.code-hierarchy-item-children {
            padding-left: 25pt;
            padding-top: .75em;
            padding-bottom: .75em;

            .code-hierarchy-item-child,
            .code-hierarchy-item-secondary-parent {

                display: block;
                padding-bottom: 0.5em;
                &:last-child { padding-bottom: 0px; }

                &::before {
                    //content: '↗'; // set below
                    width: 15pt;
                    display: inline-block;
                    margin-left: -15pt;
                }

                .code-hierarchy-item-name {
                    display: inline-block;
                    &::after { content: ' '; }
                }
                .code-hierarchy-item-relation-detail {
                    padding-top: 0.5em;
                    display: block;
                }
            }
        }
        .code-hierarchy-item-child::before {
            content: '↘';
            vertical-align: 1pt;
        }
        .code-hierarchy-item-secondary-parent::before {
            content: '↗';
            vertical-align: -3pt;
        }
    }
}

// adjustments for small screens
@media (max-width: $page-collapse-layout-width) {
    article.ecc-code-page {
        display: block;
        margin-top: 0px;

        h2 {
            display: block;

            margin-bottom: 3px;
        }
        > .sectioncontent {
            display: block;
            margin-left: 0px;
        }

        // hide label "Name:" on narrow screens
        h2.code-name {
            display: none;
        }

        .info-popup-button-container {
            display: block;
            //margin-top: 1rem;

            .popup-info-button {
                margin-top: 0px;
            }

            .tippy-container {
                text-align: left;
            }
        }

    }
}
