
article.ecc-code-page {

    display: grid;
    grid-template-columns: 1fr auto;

    h2 {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0px; // reset margin; margin will be set below
    }

    > .sectioncontent {
        margin-left: 0px;
        grid-column-start: 1;
        grid-column-end: 3;

        width: 100%;
        box-sizing: border-box;
    }
    
    // > h2, > .sectioncontent
    // {
    //     padding: 2px 0px;
    //     margin-bottom: 10px;
    // }
    h2 {
        padding: 0px;
        margin-top: 0.5rem;
        margin-bottom: .8rem;
    }
    > .sectioncontent {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: .8rem;
    }

    // always hide label "Name:", even on wide screens
    > h2.code-name {
        display: none;
    }

    .code-alternative-names {
        font-style: italic;
        .code-alternative-name {
            font-style: normal;
        }
    }

    > .code-root-code-kingdom-name {
        font-size: 1rem;
        padding: 4px;
        border-radius: 2px;

        .kingdom-name-label {
            font-weight: normal;
        }

        font-weight: bold;
        background-color: $ecc-page-kingdom-background-color;
    }

    @media screen {
        >.sectioncontent.code-name {
            grid-column-end: 2;
        }
        >.sectioncontent.info-popup-button-container {
            margin-top: 0px;
            grid-column-start: 2;
            grid-row-start: 1;
        }
    }

    @media screen {
        .display-print-citation {
            display: none !important;
        }
    }

    // style appearance:

    h2 {
        // give these dt elements an inner header style -- we should probably
        // have rendered these as <h2> elements... oh well...
        font-size: 1.1rem;
        font-style: normal;
        font-weight: normal;
        line-height: 1.3em;
        color: $inner-heading-color;
        //font-weight: 300;
        border-bottom: solid 1px $inner-heading-color-rule;
    }

    .na {
        font-style: italic;
        color: $text-dim-color;
    }

    // .code-name {
    //     font-size: 1.1rem;
    //     font-weight: bold;
    // }

    h1.code-name {
        margin: 0px 10px 0px 0px;
        display: inline-block;

        .code-introduced {
            // make citation not too large
            font-size: 1.5rem;
            font-weight: normal;
        }
    }

    .code-relations-list {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    span.code-introduced {
        display: inline-block;
        margin-left: 0.3em;
    }

    .code-is-stub {
        // the given colors (incl. transparency) work both in light & dark mode
        border: solid 0.5pt rgb(120, 120, 120);
        border-radius: 5px;
        background-color: rgba(120, 120, 120, 0.1);
        padding: 15px 25px;
        font-style: italic;
        opacity: .7;
    }
}

// adjustments for small screens
@media (max-width: $page-collapse-layout-width) {
    article.ecc-code-page {
        display: block;
        margin-top: 0px;

        h2 {
            display: block;

            margin-bottom: 3px;
        }
        > .sectioncontent {
            display: block;
            margin-left: 0px;
        }

        // hide label "Name:" on narrow screens
        h2.code-name {
            display: none;
        }

        .info-popup-button-container {
            display: block;
            //margin-top: 1rem;

            .popup-info-button {
                margin-top: 0px;
            }

            .tippy-container {
                text-align: left;
            }
        }

    }
}
