@use './variables.scss' as *;
@use './def-fixbaseline-superscript-text.scss' as *;

// ------------------------------------------------------------------
// Rendering a list of FLM properties with our render_value() tool
// generates a ul/li list of '.paragraph-in-list' elements.  E.g. for
// list of code properties.
// ------------------------------------------------------------------

.paragraph-in-list {
    display: block;
    margin-top: 2*$inner-parskip-half-length;
    margin-bottom: 2*$inner-parskip-half-length;
    margin-left: 1rem;
}
.paragraph-in-list:first-child {
    margin-top: 0px;
}
.paragraph-in-list:last-child {
    margin-bottom: 0px;
}

.paragraph-in-list::before {
    content: '\25b9';  // triangle right
    font-size: 0.65rem;
    margin-left: -0.8rem;
    color: $text-dim-color;

    float: left;
    // !!! "float" appears to work better---With "display: inline-block" then
    // the bullet appears too high if we have <p> children.
    //display: inline-block;
    //width: 0.8rem;
}


// ------------------------------------
// FLM Base Style (adapted)
// ------------------------------------


.p-block {
    // remember, top margin of next element overlaps with bottom margin of previous one
    margin-top: 2*$parskip-half-length;
    margin-bottom: 2*$parskip-half-length;
}
.p-block:first-child {
    margin-top: 0px !important;
}
.p-block:last-child {
    margin-bottom: 0px !important;
}


.emph, .textit {
    font-style: italic;
}
.textbf {
    font-weight: bold;
}


.enumeration {
    > dt {
        font-style: normal;
    }
}
.enumeration.enumerate, .enumeration.itemize {

    row-gap: $parskip-half-length;

    > dt {
        margin-left: 0.8em;
    }
}


.heading-level-3 {
    // \section{...}
    font-weight: bold;
    margin: 1.25em 0 1em;
    font-size: 1rem;
}

.heading-level-4 {
    // \paragraph{...}
    font-style: italic;
    display: inline;
    //margin-right: 1em;

    &::after {
        display: inline-block;
        margin: 0px .12em;
        content: '—';
    }
}


table.cells {
  margin: 1em auto 1em auto;
  // border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0px;
  // border-top: solid 1pt;
  // border-bottom: solid 1pt;

  box-sizing: border-box;
  max-width: 100%;
  max-width: calc(100% - 3em);

  td {
      padding: 0.3em 0.5em;
      border: none 0px;
  }
  th {
      padding: 0.3em 0.5em;
      border: none 0px;
  }
  .cellstyle-H {
      border-bottom: solid .5pt;
  }
  .cellstyle-rH {
  }
  .cellstyle-l {
      text-align: left;
  }
  .cellstyle-c {
      text-align: center;
  }
  .cellstyle-r {
      text-align: right;
  }
  .cellstyle-green {
      background-color: rgba(69, 255, 69, 0.31); /*rgb(200,255,215);*/
  }
  .cellstyle-blue {
      background-color: rgba(79, 142, 255, 0.27); /*rgb(200,220,255);*/
  }
  .cellstyle-yellow {
      background-color: rgba(255, 255, 49, 0.33); /*rgb(255,255,200);*/
  }
  .cellstyle-red {
      background-color: rgba(255,120,120,0.30);  /*rgb(255,200,200);*/
  }
  .cellstyle-lvert {
      border-left: solid var(--main-text-color) .5pt;
  }
  .cellstyle-rvert {
      border-right: solid var(--main-text-color) .5pt;
  }

  .celltbledge-top {
      border-top: solid var(--main-text-color) 1pt;
  }
  .celltbledge-bottom {
      border-bottom: solid var(--main-text-color) 1pt;
  }

}


.verbatimcode {
  font-family: monospace;
  font-size: 0.9em;
  background-color: rgba(127,127,127,0.25);
  border-radius: 2px;
  padding: 1px 2px;
  display: inline-block;
  white-space: pre-wrap;
}
.verbatima {
  font-style: italic;
}
.verbatimcode-environment {
  display: block;
  margin: 0.75em 0px 1em;
  white-space: pre;
}




figure.float {
    /*min-width: 200pt;*/
    box-sizing: border-box;
    width: 100%;
    //text-align: center;

    border-width: 1px 0px 1px 0px;
    border-style: solid none solid none;
    border-color: $discreet-border-color;

    margin: 0.5rem 0px;
    padding: 0.5rem 0px;

    &.float-table {
        // suppress borders for tables
        border-style: none none none none;
        // and separate the table a bit more from its surroundings
        margin: 1rem 0px 1rem;
    }

    .float-contents {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        overflow-x: auto;

        img {
            display: block;
            margin: 0pt;
            padding: 0pt;
            border: 0pt;
            margin: 0px auto;

            background-color: var(--light-main-background-color);
            box-shadow: 0px 0px 3px var(--light-main-background-color);
        }

        table.cells {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    figcaption {
        display: block;
        margin-top: 0.5em;
        margin: 0.75em 2em 0px;

        text-align: center;

        > span {
            display: inline-block;

            font-style: italic;

            text-align: left;
        }
    }
}




.defterm {
    //font-style: italic;

    .defterm-term {
        font-style: italic;
        font-weight: bold;
    }
}



.display-math {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;

    display: block;
    overflow-x: auto;
}

.endnote-marks, .citation-marks {
    @include fixbaseline-superscript-text;
}


/*
.quote, .address, .blockquote {
  margin: 1em 0;
}
.quote {
  background: var(--boxedcontent-background-color);
  padding: 1em 3em;
}
.quote .quote-lines,
.quote .quote-text {
  font-style: italic;
  margin: 0.5em 0;
}
.quote-attributed {
  margin: 0.5em 0;
  text-align: right;
}
.quote .quote-attributed::before {
  content: '—';
}
.quote-block {
  padding-left: 1em;
  border-left: solid 4pt var(--boxedcontent-background-color) ;
}*/

/* CLAUDE OPTION A */
/*
.quote, .address, .blockquote {
  margin: 1.5em 0;
}
.quote {
  background: transparent;
  padding: 0.75em 1.5em 0.75em 2em;
  border-left: 3px solid var(--boxedcontent-background-color);
  position: relative;
}
.quote .quote-lines,
.quote .quote-text {
  font-style: italic;
  margin: 0.5em 0;
  line-height: 1.6;
  color: inherit;
  opacity: 0.85;
}
.quote-attributed {
  margin: 0.75em 0 0.25em;
  text-align: right;
  font-style: normal;
  font-size: 0.9em;
  opacity: 0.7;
}
.quote .quote-attributed::before {
  content: '— ';
}
.quote-block {
  padding-left: 1.5em;
  border-left: 3px solid var(--boxedcontent-background-color);
}*/

/* CLAUDE OPTION B */
.quote, .address, .blockquote {
  margin: 1.5em 0;
}
.quote {
  background: var(--boxedcontent-background-color);
  padding: 1.25em 2em 1em 4.5em;
  //border-radius: 2pt;
  position: relative;
}
.quote::before {
  content: '\201C';
  position: absolute;
  left: 0.4em;
  top: 0.15em;
  font-size: 4em;
  line-height: 1;
  opacity: 0.15;
  //font-family: 'Source Serif 4', 'Times New Roman', serif; // Nope, use same ol' Source Sans 3
}
.quote .quote-lines,
.quote .quote-text {
  font-style: italic;
  margin: 0.4em 0;
  line-height: 1.6;
}
.quote-attributed {
  margin: 0.75em 0 0.25em;
  text-align: right;
  font-style: normal;
  font-size: 0.9em;
  opacity: 0.65;
}
.quote .quote-attributed::before {
  content: '— ';
}
.quote-block {
  padding-left: 1.5em;
  border-left: 2pt solid var(--boxedcontent-border-color);
}
@media screen and (max-width: $page-collapse-layout-width) {
  .quote {
    padding: 1.5em 1.5em 1em 1.5em;
  }
  .quote::before {
    left: .35em;
    top: -0.05em;
    font-size: 3em;
  }
}
/* CLAUDE OPTION C */ /*
.quote, .address, .blockquote {
  margin: 1.5em 0;
}
.quote {
  background: transparent;
  padding: 1em 2em;
  border-top: 1px solid var(--boxedcontent-border-color);
  border-bottom: 1px solid var(--boxedcontent-border-color);
}
.quote .quote-lines,
.quote .quote-text {
  font-style: italic;
  margin: 0.5em 0;
  line-height: 1.6;
  text-align: center;
}
.quote-attributed {
  margin: 0.5em 0 0;
  text-align: center;
  font-style: normal;
  font-size: 0.88em;
  opacity: 0.6;
  letter-spacing: 0.02em;
}
.quote .quote-attributed::before {
  content: '— ';
}
.quote-block {
  padding-left: 1.5em;
  border-left: 3px solid var(--boxedcontent-background-color);
}*/
/* END CLAUDE OPTIONS */

.address .quote-lines {
  font-size: .933em;
}

.blockquote {
  padding: 0 1em;
}
