
// .person-list {
//     max-width: 400px;
// }
// .person-list.two-columns {
//     max-width: calc(max(400px, 90%));
// }
@media screen and (max-width: $page-collapse-layout-width) {
    .person-list.two-columns {
        // fall back to single column layout
        grid-template-columns: repeat(1, 1fr);
        max-width: 400px;
    }
}


.tile-person {
    max-width: 20rem;
    .tile-person-line {
        display: block;

        .person-name {
            font-weight: bold;
        }

        line-height: 1.3em;
    }
    .tile-person-name-line {
        margin-top: 0.5rem;
    }
    .tile-person-links-line {
        margin-top: 0.25rem;
        font-size: $endnote-superscript-font-size;

        >span:not(:first-child)::before {
            content: ' • ';
        }
    }

    &.tile-person-highlight {
        box-shadow: $tile-person-highlight-box-shadow;
    }

    &.person-avatar-unknown {
        background-image: url('~/site/static/icons/avatar-unknown.svg');
    }
}