*~
.DS_Store

.parcel-cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#!.yarn/cache
.pnp.*

node_modules

jscomponents/codegraph/_headless_exporter_browser_code_dist
previewtool/dist
previewtool/_zoodb_citations_cache
_TEST_zoodb_citations_cache

output-eczoo-stats-codes-*

scripts/output.*
