
.CodeGraphInformationPane {
    padding: 5px;
    overflow: auto;
    border: dotted 1px gray;

    font-size: 0.92rem;

    .empty-info-pane {
        padding: 30px;
    }

    > div {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .code-name {
        font-size: 1rem;
        font-weight: bold;
        display: inline-block;
    }

    .code-introduced {
        margin-left: 4px;
        display: inline-block;
    }

    .kingdom-name {
        font-size: 1rem;
        .kingdom-name-label {
            font-weight: normal;
        }
        font-weight: bold;
        background-color: rgba(200,255,230);
    }
    .kingdom-description {
        background-color: rgba(200,255,230);
    }

    .code-description {
    }

    .code-link, .domain-link, .kingdom-link {
        display: block;
        padding-left: auto;
    }

    .code-relations {
        .code-relation-type {
            display: block;
            font-weight: bold;
        }

        > ul {
            list-style: none;
            margin: 0px;
            padding-left: 0;
            display: inline;

            > li {
                list-style: none;
                display: inline;

                &::before {
                    content: ' • ';
                }

                &:first-child {
                    &::before {
                        content: '';
                    }
                }
            }
        }
    }

    .endnotes {
        font-size: 0.85rem;
        color: rgb(80,80,100);
    }

    .domain-name {
        font-weight: bold;
    }




    .flm-html-error {
        color: rgb(200,0,0);
        font-weight: bold;

        >pre {
            white-space: pre-wrap;
        }
    }

}
