
// import our global variables
//@import '~/stylesheets/variables.scss';

// FIXME: How can we get access to the site's variables.scss ???
$base-font-family: "Source Sans 3", sans-serif;
$base-font-size: 16px;
$page-link-color: var(--page-link-color); //rgba(50,50,200,1.0);




.EczCodeGraphComponent {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

    // CSS variable
    --side-panel-width: 260px;

    display: grid;
    grid-template-columns: calc(100% - var(--side-panel-width) - 3px)  var(--side-panel-width);
    grid-template-rows: 100%;
    gap: 3px;

    overflow: hidden;
}

// collapse side panel onto bottom half of screen on small devices
@media screen and (max-width: 500px) {
    .EczCodeGraphComponent {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;

        .EczCodeGraphComponent_SidePanel {
            .CodeGraphInformationPane {
                // let the side panel container scroll with its
                // own "overflow: auto" setting
                overflow: visible;
            }
        }

    }
}

@media screen and (min-width: 800px) {
    .EczCodeGraphComponent {
        --side-panel-width: 320px;
    }
}

@media screen and (min-width: 1000px) {
    .EczCodeGraphComponent {
        --side-panel-width: 390px;
    }
}

@media screen and (min-width: 1500px) {
    .EczCodeGraphComponent {
        --side-panel-width: 450px;
    }
}


.EczCodeGraphComponent_CyPanel {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;

    // WORKAROUND for bug? in Firefox; without "overflow: auto", resizing to a smaller
    // window causes many delayed updates and the panel only moves slowly back
    // to its correct location.
    //
    // ### UPDATE: Now Firefox bugs with "overflow: auto" producing flashing scroll bars; it
    //     prefers "overflow: hidden"
    overflow: hidden;
}
.EczCodeGraphComponent_Cy {
    // position: relative;
    // top: 0px;
    // left: 0px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

    //width: auto;
    //height: 100%;
    //display: grid;
}

.EczCodeGraphComponent_SidePanel {
    height: 100%;

    margin: 0px;
    padding: 2px 0px;
    box-sizing: border-box;

    background-color: var(--main-background-color);
    z-index: 100;

    display: grid;
    grid-template-rows: minmax(auto, 0fr) 2fr;
    gap: 10px;

    // force ignoring current element size in parent element calculations
    overflow: auto;
}


.EczCodeGraphControlsComponent {

    font-size: 0.8rem;

    // .EczCodeGraphControlsComponent is a <fieldset>
    margin: 0px;
    padding: 0px;
    border: none 0px;

    //overflow: auto;

    > fieldset {
        border: solid .4pt rgba(120,120,120,0.5);
        margin: 0px;
        padding: 2px;
        border-radius: 2px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        > legend {
            margin-right: .35em;
            min-width: 3em;
            float: left;
            flex-grow: 0;
            flex-shrink: 0.2;

            font-weight: bold;
        }

        .controls-input-group {
            display: flex;
            align-items: center;
            //gap: .35em;
            margin-left: .35em;
        }
        .controls-input-sep {
            display: inline-block;
            width: .5em;
        }
        .controls-input-break {
            display: block;
            width: 100%;
        }
    }

}

.EczCodeGraphControlsComponent.state-hide-controls {
    > fieldset.controls-input-advanced-fieldset {
        display: none; // hide advanced controls
    }
}


