@import '~/site/stylesheets/variables.scss';

#AppContainer {
    width: 100vw;
    height: 100vh;
}

html, body {
    overflow: hidden;
}


.loading-message {
    max-width: 800px;
    margin: 50px auto;
    font-size: 1.2rem;
    line-height: 1.3em;
    font-style: italic;
    color: rgba(127,127,127,0.8);

    text-align: center;

    &.wait {
        font-style: normal;
    }
}

@import '~/site/stylesheets/gitpreview.scss';
